@model Resolve.Models.MoveWorker
@{
    ViewData["Title"] = "Create Specific Details";
}

<h3>Create Move Worker</h3>
<h4>Staff/Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" id="AWorkerType">
                <label asp-for="CWorkerType" class="control-label required-field"></label>
                <select asp-for="CWorkerType" asp-items="Html.GetEnumSelectList<CWorkerType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="CWorkerType" class="text-danger"></span>
            </div>
            <div class="form-group" id="HireType">
                <label asp-for="HireType" class="control-label"></label>
                <select asp-for="HireType" asp-items="Html.GetEnumSelectList<HireType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="HireType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OSupOrg" class="control-label"></label>
                <select asp-for="OSupOrg" asp-items="Html.GetEnumSelectList<SupOrg>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="OSupOrg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupOrg" class="control-label"></label>
                <select asp-for="SupOrg" asp-items="Html.GetEnumSelectList<SupOrg>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="SupOrg" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label required-field"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmployeeEID" class="control-label"></label>
                <input asp-for="EmployeeEID" class="form-control" />
                <span asp-validation-for="EmployeeEID" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="EffectiveStartDate" class="control-label required-field"></label>
                <input asp-for="EffectiveStartDate" class="form-control" />
                <span asp-validation-for="EffectiveStartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DetailedDescription" class="control-label"></label>
                <textarea asp-for="DetailedDescription" class="form-control"></textarea>
                <span asp-validation-for="DetailedDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}