@model Resolve.Models.FoodEvent

@{
    ViewData["Title"] = "Create Specific Details";
}


<h3>Edit Food/Event Request</h3>
<hr />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseID" />
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeEID" class="control-label"></label>
                <input asp-for="EmployeeEID" class="form-control" />
                <span asp-validation-for="EmployeeEID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDescription" class="control-label"></label>
                <input asp-for="EventDescription" class="form-control" />
                <span asp-validation-for="EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label required-field"></label>
                <select asp-for="Department" asp-items="Html.GetEnumSelectList<Department>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetType" class="control-label required-field"></label>
                <select asp-for="BudgetType" asp-items="Html.GetEnumSelectList<BudgetType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="BudgetType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetPurpose" class="control-label required-field"></label>
                <select asp-for="BudgetPurpose" asp-items="Html.GetEnumSelectList<BudgetPurpose>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="BudgetPurpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetNumbers" class="control-label"></label>
                <input asp-for="BudgetNumbers" class="form-control" />
                <span asp-validation-for="BudgetNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Justification" class="control-label"></label>
                <textarea asp-for="Justification" class="form-control"></textarea>
                <span asp-validation-for="Justification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1" class="control-label"></label>
                <input asp-for="Item1" class="form-control" />
                <span asp-validation-for="Item1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item2" class="control-label"></label>
                <input asp-for="Item2" class="form-control" />
                <span asp-validation-for="Item2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item3" class="control-label"></label>
                <input asp-for="Item3" class="form-control" />
                <span asp-validation-for="Item3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item4" class="control-label"></label>
                <input asp-for="Item4" class="form-control" />
                <span asp-validation-for="Item4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item5" class="control-label"></label>
                <input asp-for="Item5" class="form-control" />
                <span asp-validation-for="Item5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item6" class="control-label"></label>
                <input asp-for="Item6" class="form-control" />
                <span asp-validation-for="Item6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item7" class="control-label"></label>
                <input asp-for="Item7" class="form-control" />
                <span asp-validation-for="Item7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}